* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: black;
}

header {
    background-color: #111882;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    position: relative;
}

header strong {
    color: white;
    font-size: 20px;
}

header img {
    border-radius: 20px;
}

header nav a {
    color: white;
    padding: 30px;
    text-decoration: none;
    font-weight: 600;
}

#perfil {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-top: 60px;
    padding-right: 80px;
    padding-bottom: 60px;
    padding-left: 80px;
    position: relative;
}

#perfil img {
    border-radius: 30px;
}

.botaoini {
    background-color: #111882;
    /*vertical e horizontal*/
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

footer {
    background-color: #111882;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    position: relative;
}

footer img {
    display: block;
    margin-bottom: 25px;
}

.logoend {
    border-radius: 20px;
}

footer .titulo {
    display: block;
    margin-bottom: 25px;
    color: white;
    font-weight: 600;
}

footer nav a {
    display: block;
    color: white;
    margin-bottom: 15px;
    text-decoration: none;
    max-width: 350px;
    font-weight: 600;
}

footer p {
    color: white;
    margin-bottom: 25px;
}

#copyright {
    background-color: black;
    padding: 10px;
    text-align: center;
}

#copyright p {
    color: white;
    font-size: 15px;
    font-weight: 600;
}