* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: black;
}

h1 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}

.parag {
    line-height: 150%;
    margin-bottom: 30px;
    text-align: justify;
}

header {
    background-color: #111882;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    position: relative;
}

header strong {
    color: white;
    font-size: 20px;
}

header nav a {
    color: white;
    padding: 30px;
    text-decoration: none;
    font-weight: 600;
}

header img {
    border-radius: 20px;
}

#inicio {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-top: 60px;
    padding-right: 80px;
    padding-bottom: 60px;
    padding-left: 80px;
    position: relative;
}

#inicio img {
    border-radius: 30px;
}

.botaoini {
    background-color: #111882;
    /*vertical e horizontal*/
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.shapp {
    position: relative;
    left: 0%;
    bottom: 0%;
    width: 100%;
}

#sobre {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-top: 60px;
    padding-right: 80px;
    padding-bottom: 60px;
    padding-left: 80px;
    position: relative;

    /*
    padding-top: 50px; 60
    padding-right: 20px; 80
    padding-bottom: 80px; 60
    padding-left: 40px;  80
    */
}

#sobre li {
    margin-bottom: 15px;
    margin-left: 30px;
}

#programas {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-top: 60px;
    padding-right: 80px;
    padding-bottom: 60px;
    padding-left: 80px;
    position: relative;
}

.programa {
    position: relative;
}

.programa h2 {
    border: 3px solid #111882;
    border-radius: 10px;
    padding: 25px;
}

.programa img {
    position: absolute;
    top: 30px;
    right: 25px;
    cursor: pointer;
}

.programa .parag {
    border-right: 2px solid #111882;
    border-bottom: 2px solid #111882;
    border-left: 2px solid #111882;
    border-radius: 0 0 10px 10px;
    margin-top: -10px;
    padding: 0 25px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .2s;
}

.programa.ativa .parag {
    height: fit-content;
    opacity: 1;
    padding: 25px;
}

#referencias {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-top: 60px;
    padding-right: 80px;
    padding-bottom: 60px;
    padding-left: 80px;
    position: relative;
}

#referencias li {
    margin-bottom: 15px;
    margin-left: 30px;
}

footer {
    background-color: #111882;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    position: relative;
}

footer img {
    display: block;
    margin-bottom: 25px;
}

.logoend {
    border-radius: 20px;
}

footer .titulo {
    display: block;
    margin-bottom: 25px;
    color: white;
    font-weight: 600;
}

footer nav a {
    display: block;
    color: white;
    margin-bottom: 15px;
    text-decoration: none;
    max-width: 350px;
    font-weight: 600;
}

footer p {
    color: white;
    margin-bottom: 25px;
}

#copyright {
    background-color: black;
    padding: 10px;
    text-align: center;
}

#copyright p {
    color: white;
    font-size: 15px;
    font-weight: 600;
}